.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(md) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 8px;
  }

  &__logo img {
    height: 45px;

    @include media-breakpoint-up(md) {
      height: 30px;
    }
  }

  &__toggler {
    display: block;

    @include media-breakpoint-up(md) {
      display: none;
    }
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 3px;
    z-index: 10;

    &-bar1,
    &-bar2,
    &-bar3 {
      display: block;
      width: 35px;
      height: 5px;
      background-color: #ffffff;
      margin: 6px 0;
      transition: 0.4s;
    }

    .js-change &-bar1 {
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .js-change &-bar2 {
      opacity: 0;
    }

    .js-change &-bar3 {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
    background-color: $primary-color;
    max-height: 0;
    overflow-y: hidden;
    margin-bottom: -6px;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin-top: 0;
      max-height: 1000px;
      margin-bottom: 0;
    }

    transition: all 0.7s;

    &.opened {
      margin-top: 0;
      max-height: 1000px;
      margin-bottom: 6px;
    }
  }

  &__link {
    color: #ffffff;
    display: block;
    width: 100%;

    @include media-breakpoint-up(md) {
      text-align: center;
    }

    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }

  &__item {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;

    @include media-breakpoint-up(md) {
      display: flex;
      flex: 1 1 auto;
      text-align: center;
      align-items: center;
      padding: 0;
    }

    &:hover {
      background-color: $secondary-color;
    }
  }

  &__search-form {
    padding-top: 4px;
    padding-left: 8px;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      padding-right: 8px;
    }
  }

  &__input {
    appearance: none;
    border: none;
    border-radius: 4px;
    padding-left: 4px;
    @include media-breakpoint-up(md) {
      margin-right: 4px;
    }
  }
}
