//присвоили значения переменным бутсрапа
$enable-responsive-font-sizes: true;
$blue: #035eaf;
$primary-color: #035eaf;
$secondary-color: #3cbff2;
//$breadcrumb-divider: quote(">");
$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "block/slider";
@import "block/navigation";
@import "block/news";
@import "block/section";
@import "block/button";

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 0.3rem;
  margin-bottom: 0.1rem;

  &--no-margin {
    margin-right: 0;
  }
}

a[href$=".pdf"]::before,
a[href$=".doc"]::before,
a[href$=".zip"]::before {
  width: 19px;
  height: 19px;
  content: "";
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 3px;
  padding: 11px;
  background-position: center;
}

a[href$=".pdf"]::before {
  background-image: url("../img/document-file-pdf.svg");
}

a[href$=".doc"]::before {
  background-image: url("../img/file-word.svg");
}

a[href$=".docx"]::before {
  background-image: url("../img/file-word.svg");
}

a[href$=".zip"]::before {
  background-image: url("../img/file-zip.svg");
}

.header {
  background-color: $primary-color;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #404b54;
  color: white;

  & a {
    color: white;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.card .btn {
  align-self: flex-start;
}
